[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
jinja2 = "*"
netmiko = "*"
genie = "*"
pyats = "*"
pep8 = "*"
pylint = "*"
yapf = "*"

[dev-packages]

[requires]
python_version = "3.10"
