configure terminal
{% for interface in interfaces %}
  interface {{ interface.nom }}
    {% if interface.vlan_id !=null %}
    encapsulation dot1Q {{ interface.vlan_id }}
    {% endif %}
    {% if interface.ip !=null %}
    ip address {{ interface.ip }}
    {% endif %}
    no shutdown
    exit
{% endfor %}
