{% for interface in interfaces %}
interface {{ interface.name }}
switchport mode {{ interface.mode }}
{% if "access" == interface.mode %}
switchport access vlan {{ interface.vlan_id }}
{% endif %}
no shutdown
exit
{% endfor %}

