{% for interface in ip_interfaces %}
interface {{ interface.nom }}
switchport mode {{ interface.mode }}
{%- if "trunk" == interface.mode %} 
switchport trunk allowed vlan all
{% endif %}
{%- if interface.vlan_id != null %}
switchport access vlan {{ interface.vlan_id }}
{% endif %}
no shutdown
{% endfor %}
